.profile{
  display: flex;
  .profile__line{
    width: 1px;
    background-color: var(--main-color-10);
    height: 30px;
    margin: auto 10px;
  }
  .profile__link{
    font-size: 14px;
    vertical-align: center;
    margin: auto 10px;
    color: var(--main-color-50);
    &.active{
      font-weight: bold;
      color: var(--main-color-75);
    }
  }
}

