.reg-box
    .reg-box__title Регистрация аккаунта
    form.reg-box__login-form
        input.reg-box__name
        input.reg-box__surname
        .reg-box__sex
            .reg-box__male
            .reg-box__female
        .reg-box__date-of-birth
        .reg-box__data
            input.reg-box__name
            input.reg-box__surname
            input.reg-box__get-mails-radio
    button.reg-box__sign-up
    .reg-box__have-account