@import './src/elements/button';
@import './src/elements/radio';

@mixin text-field {
  padding: 12px 15px;
  border: solid 1px var(--main-color-25);
  color: var(--main-color-50);
  border-radius: 5px;
  outline: none;
  font-size: 14px;
  line-height: 24px;
  width: 100%;
}

.reg-box{
  display: flex;
  flex-direction: column;
  padding: 30px;
  width: 380px;
  height: auto;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 0 25px var(--main-color-25);
  .reg-box__title{
    margin: 10px 0;
  }
  .reg-box__reg-form{

    display: flex;
    margin: 10px 0;
    gap: 20px;
    flex-direction: column;
    .reg-box__personal{
      display: flex;
      gap: 10px;
      flex-direction: column;
      .reg-box__name,
      .reg-box__surname{
        @include text-field;
      }
      .reg-box-sex{
        display: flex;
        flex-direction: row;
        gap: 20px;
        .reg-box-sex__male,
        .reg-box-sex__female{
          @include radioContainer;
        }

      }
    }
    .reg-box__date-of-birth{
      display: flex;
      flex-direction: column;
      gap: 10px;
      .reg-box__dob-choice{
        @include text-field;
      }
    }
    .reg-box__data{
      display: flex;
      flex-direction: column;
      gap: 10px;
      .reg-box__email, .reg-box__password{
        @include text-field;
      }
    }
    .reg-box__get-mails{
      display: flex;
      gap: 10px;
    }
  }
  .reg-box__sign-up{
    @include button;
    width: 100%;
    margin: 0;
    position: relative;
    p{
      color: white;
    }
    span{
      position: absolute;
      height: 24px;
      margin: auto;
      top: 0;
      bottom: 0;
      right: 18px;
      color: white;
    }
  }
  .reg-box__have-account{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 30px;

    p {
      margin: auto 0;
      font-size: 14px;
      color: var(--main-color-100);
    }
    .reg-box__sign-in{
      @include button;
      background:
              linear-gradient( #ffffff, #ffffff) padding-box,
              linear-gradient(to bottom, #BC9CFF, #8BA4F9) border-box;
    }
  }
}