.header__navigation{
  display: grid;
  grid-template-columns: 1fr auto;
  vertical-align: center;
  font-size: 12px;
  .header__links{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(5, auto);
  }
  .reg-form{
    grid-template-columns: auto auto;
    height: 100%;
    button{
      font-size: 12px;
      font-weight: bold;
      border-radius: 22px;
      background-color: transparent;
      padding: 8px 20px;
      border: 2px solid;
      border-image-source: linear-gradient(to bottom, #BC9CFF, #8BA4F9);
      color: #BC9CFF;
      outline: none;
      height: 34px;
      margin: auto;
      &:focus{
        border-color: #6e0e8d;
      }
    }
  }
}



.gap20 {
  gap: 20px;
}

.d-grid {
  display: grid;
}