.checkbox-container{
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
  .checkbox-container-title{
    p{
      text-transform: uppercase;
      line-height: 24px;
    }
    display: flex;
    justify-content: space-between;
    margin: 16px 0;
    align-items: center;
  }

}