include ../checkbox-element/checkbox-elem

mixin checkout-expandable(title, elems)
    .checkbox-container
        h3.checkbox-container-title= title
        for elem in elems
            +checkbox(elem.type, elem.title, elem.id)
