
html(lang='ru')
    head
        meta(charset='utf-8')
        meta(name='author', content='Konstantine Fedotovskih')
        meta(name='keywords', content='pug, webpack, components, layout, js, metalamp')
        meta(name='description', content='Some description')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title="Main"
    body
        .container
