
.login-box{
  display: flex;
  flex-direction: column;
  padding: 30px;
  width: 380px;
  height: auto;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 0 25px var(--main-color-25);
  .login-box__title{
    margin: 10px 0;
    text-align: left;
  }
  .login-box__login-form{
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    gap: 10px;
    .login-box__email{
      padding: 12px 15px;
      border: solid 1px var(--main-color-25);
      color: var(--main-color-50);
      border-radius: 5px;
      outline: none;
      font-size: 14px;
      line-height: 24px;
    }
    .login-box__password {
      padding: 12px 15px;
      border-radius: 5px;
      border: solid 1px var(--main-color-25);
      color: var(--main-color-50);
      outline: none;
      font-size: 14px;
      line-height: 24px;
    }
  }


  .login-box__no-account{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0 2px 0;
    p{
      color: var(--main-color-100);
      font-size: 14px;
    }

  }
}