include ../../../../src/elements/button/button
include ../../../../src/elements/text-field/text-field

.login-box
    h1.login-box__title Войти
    form.login-box__login-form
        +text-field('email', 'Email')
        +text-field('password', 'Password')
    button.login-box__sign-in
        p ВОЙТИ
        span.login-box__arrow.material-icons arrow_forward
    .login-box__no-account
        p Нет аккаунта на Toxin?
        +button('white', 'ВОЙТИ')
