@import './src/components/button';

.login-box{
  display: flex;
  flex-direction: column;
  padding: 30px;
  width: 380px;
  height: auto;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 0 25px var(--main-color-25);
  .login-box__title{
    margin: 10px 0;
    text-align: left;
  }
  .login-box__login-form{
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    gap: 10px;
    .login-box__email{
      padding: 12px 15px;
      border: solid 1px var(--main-color-25);
      color: var(--main-color-50);
      border-radius: 5px;
      outline: none;
      font-size: 14px;
      line-height: 24px;
    }
    .login-box__password {
      padding: 12px 15px;
      border-radius: 5px;
      border: solid 1px var(--main-color-25);
      color: var(--main-color-50);
      outline: none;
      font-size: 14px;
      line-height: 24px;
    }
  }
  .login-box__sign-in{
    position: relative;
    @include button;
    padding: 0;
    p{
      color: white;
      font-size: 12px;

      margin: 14px auto 15px auto;
    }
    .login-box__arrow{
      position: absolute;
      top: 0;
      bottom: 0;
      color: white;
      right: 18px;
      line-height: 24px;
      height: 24px;
      margin: auto;
    }
    margin: 10px 0;
  }

  .login-box__no-account{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0 2px 0;
    p{
      color: var(--main-color-100);
      font-size: 14px;
    }
    .login-box__create-acc{
      @include button;
      margin: 0;
      background:
              linear-gradient( #ffffff, #ffffff) padding-box,
              linear-gradient(to bottom, #BC9CFF, #8BA4F9) border-box;
      p {
        color: #BC9CFF;
      }
      
    }
  }
}