.footer.wrapper
    .footer__footer-info
        nav.footer__footer-box
            .footer__logo.footer__item
                .footer__logo__image
                    img(src='../src/assets/images/Logo.svg')
                p Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
            .footer__nav.footer__item
                strong.footer_size12 Навигация
                p О нас
                p Новости
                p Служба поддержки
                p Услуги
            .footer__about.footer__item
                strong.footer_size12 О нас
                p О сервисе
                p Наша команда
                p Вакансии
                p Инвесторы
            .footer__support.footer__item
                strong.footer_size12 Служба поддержки
                p Соглашения
                p Сообщества
                p Связь с нами
            .footer__sub.footer__item
                strong.footer_size12 Подписка
                p.footer_color75 Получайте специальные предложения и новости сервиса

    .footer__footer-corp-line
        .footer__corp
            p.footer__corp__text Copyright © 2018 Toxin отель. Все права защищены.
        ul.footer__links
            li.footer__link Twitter
            li.footer__link Facebook
            li.footer__link Instagram
