include ../button/button

mixin dropdown(title, options)
    .dropdown
        .dropdown__title
            p= title
            span.material-icons.title__arrow expand_more
        .dropdown__menu
            ul.dropdown__options
                each item in options
                    li.dropdown__option= item
            +button('white', 'Подтвердить')
