.dropdown
    .dropdown__title Hello world
        span.material-icons.title__arrow expand_more
    .dropdown__menu
        ul.dropdown__options
            li.dropdown__option What
            li.dropdown__option Do
            li.dropdown__option You
            li.dropdown__option Need
        button Submit
