.dropdown{
  display: flex;
  flex-direction: column;
  width: 320px;
  background-color: #fff;
  height: auto;
  position: relative;
  .dropdown__title{
    height: 44px;
    display: grid;
    font-size: 14px;
    place-items: center;
    border-radius: 4px 4px 4px 4px;
    border: 1px solid var(--main-color-50);
    width: auto;
    position: relative;
    .title__arrow{
      position: absolute;
      margin: auto;
      top: 0;
      bottom: 0;
      right: 18px;
      height: 24px;
      color: var(--main-color-50);
    }
  }
  .dropdown__menu{
    position: absolute;
    top: 100%;
    width: 100%;
    border: 1px solid var(--main-color-50);
    display: none;
    flex-direction: column;
    padding: 13px;
    .dropdown__options{
      list-style: none;
    }
  }
  &.open{
    .dropdown__title{
      border-radius: 4px 4px 0 0;
      border: 1px solid var(--main-color-50);
      border-bottom: none;
      .title__arrow{
        color: var(--main-color-75);
      }
    }
    .dropdown__menu{
      display: flex;
      flex-direction: column;
      border-radius: 0 0 4px 4px;
      border: 1px solid var(--main-color-50);
    }
  }
}